  /* Estilos personalizados e animações */
        body {
            font-family: 'Inter', sans-serif;
            background-image: linear-gradient(to top right, #b0ceff, #577ada); /* Gradiente de azul claro para escuro */
            overflow-x: hidden;
            position: relative;
        }

        /* Animação de entrada para os cartões */
        @keyframes surgir {
            from { opacity: 0; transform: translateY(20px) scale(0.95); }
            to { opacity: 1; transform: translateY(0) scale(1); }
        }

        .cartao-entrando {
            animation: surgir 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
        }
        
        /* Estilo para placeholder dos inputs */
        ::placeholder {
            color: rgba(0, 0, 0, 0.6);
        }
        
        /* Estilizando o ícone do calendário no input date */
        input[type="date"]::-webkit-calendar-picker-indicator {
            cursor: pointer;
            filter: invert(1) brightness(90%);
        }

        /* Remove a seta padrão do select no firefox */
        select {
           -moz-appearance: none;
           text-indent: 0.01px;
           text-overflow: '';
        }